.DS_Store
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.xml
*.mf
*.properties
.vscode
__pycache__/
Assignment_2/Part_2/.classpath
Assignment_2/Part_2/.project
STREAM/.classpath
STREAM/.project
